@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Roboto", sans-serif;
}

img::selection {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #f3f8ff;
}
#menuBtn{display: none;}

#menuBtn img{
  width: 30px;
}

header > div {
  width: 50%;
  padding-inline: 40px;
}

.logo {
  width: 100%;
  position: relative;
}
.logo img {
  width: 100px;
  filter: contrast(200%);
}

.logo p {
  position: absolute;
  bottom: 20px;
  left: 32px;
  color: rgb(255 155 0);
}

#headerright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

#contacts a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-decoration: none;
  color: rgb(0, 81, 255);
}

#contacts a:hover {
  text-decoration: underline;
}

#contacts img {
  width: 20px;
  display: inline-block;
}

.swiper {
  width: 100%;
  height: 50vh;
  margin-top: 100px;
  box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.3);
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#recentAnounsment {
  margin-top: 60px;
}

#anousmentHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#anousmentHeading h1 {
  position: relative;
  letter-spacing: 1px;
}

#anousmentHeading h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 25%;
  transform: translateX(-10%);
  width: 150px;
  height: 3px;
  background-color: #0d6efd;
}

#anousmentHeading img {
  width: 60px;
  transform: rotateZ(30deg);
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-inline: 25px;
  margin-top: 25px;
}

#recentAnounsment .cards {
  gap: 40px;
}

.card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: all 0.6s ease;
}

.card img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.5);
}

#aboutUsSection {
  background-color: #003f9e;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  padding: 20px 10px;
  padding-bottom: 50px;
}

#aboutUs,
#whyUs {
  padding: 10px 20px;
}

#aboutUs h1 {
  margin-block: 10px 24px;
}

#aboutUs p {
  margin-block: 10px;
  padding-inline: 25px;
  color: #e7e7e7;
  line-height: 21px;
}

#whyUs h1 {
  margin-block: 30px 8px;
}

#whyUs .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  background-color: white;
  color: black;
  max-width: 300px;
  padding: 30px 10px;
}

#whyUs .card img {
  width: 100px;
}

#contactUs {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-block: 20px;
  position: relative;
}

#contactUs > h1 {
  position: absolute;
  top: -45px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}
#contactUs > h1::after,
#addressInfo h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 40%;
  width: 50px;
  height: 3px;
  background-color: #0d6efd;
}

#addressInfo img{width: 20px; margin-right: 10px;}
#contactUs > h1::after{
  left: 50%;
  transform: translateX(-50%);
}

#contactMap {
  width: 100%;
  height: 50vh;
}
#contactMap iframe {
  height: 100%;
  width: 100%;
}

#contactAddress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

#contactAddress > div {
  width: 100%;
  padding-left: 40px;
}

#contactInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

#contactInfo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(0, 81, 255);
}

#contactInfo a:hover {
  text-decoration: underline;
}

#contactInfo img {
  width: 25px;
}


 #addressInfo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
 }

#addressInfo h2 {
  position: relative;
  letter-spacing: .7px;
  margin-top: 20px;
}

#addressInfo p {
  line-height: 25px;
  padding-right: 30px;
}

footer {
  background-color: #003f9e;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}


footer hr{
  border-color: rgb(158, 158, 158);
  margin-block: 13px;
}

#goTop{
  background: transparent;
  border: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-image: url("../images/up-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

#loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader img{
  width: 100%;
}


@media screen and (max-width:940px) {#contactInfo{grid-template-columns: 1fr;}}
@media screen and (max-width:600px) {
  #contactMap{height: 40vh;}
  #contactUs{flex-direction: column;}
  .logo p{font-size: 10px; bottom: 25px;}
  #contacts a{display: none;}
  #menuBtn{display: block;}
}
@media screen and (max-width:450px) {

  .swiper{
    height: 30vh;
    margin-top: 80px;
  }
  #aboutUs{padding-inline: 0;}
  .logo img{width: 70px;}
  .logo p{display: none;}
  #whyUs .cards{padding-inline: 10px;}
  #aboutUs p{font-size: 13px;}
}